#login_facebook {
	display: none
}

#user_dropdown {
	display: none;
}

#page_content > div {
	display: none;
}

#debug_console_download {
	width: 99%;
	text-align: left;
	resize: none;
}

#dropbox {
	height: 100px;
	width: 100px;
	border-color: #49afcd;
}

.highlight_border {
	border-color: green !important;
}

.overview_table_row {
	cursor: pointer;
}

.chart300 {
	display: inline-block;
	margin: 0 auto;
}

.chartfull {
	display: block;
	width: 95%;
	margin: 0 auto;
}

@font-face {
	font-family: Coolvetica;
	src: url(font/coolvetica.otf);
}
